<html>

<head>
<title>Title</title>
</head>

<body>

<p>This is an R HTML document. When you click the <b>Knit HTML</b> button a web page will be generated that includes both content as well as the output of any embedded R code chunks within the document. You can embed an R code chunk like this:</p>

<!--begin.rcode echo=F, warning=F, message=F
library(plotly)
end.rcode-->

<p>You can also embed plots, for example:</p>

<!--begin.rcode results='asis'
pp <- plot_ly(cars, x = ~speed, y = ~dist)
# pp
htmlwidgets::saveWidget(pp, "plot.html")
# htmltools::tagList(pp)
end.rcode-->
<iframe src="plot.html" seamless="seamless" width="100%" height="100%" style="border:none"></iframe>
</body>
</html>
